<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Eric web dev</title>
  <meta content="J'aide votre entreprise à devenir la licorne" name="description">
  <meta content="Developpeur, fullstack, dev, web " name="keywords">

  <!-- /////// Favicons /////// -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- /////// Google Fonts /////// -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy&display=swap" rel="stylesheet"> -->

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- /////// Template Main CSS File /////// -->
  <link href="../stylesheets/style.css" rel="stylesheet"  >


</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <nav id="navbar" class="navbar">
      <i class="bi bi-list mobile-nav-toggle"></i>
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#resume">Resume</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      
    </nav>
    <!-- ///// .navbar ///// -->
  </header>
  <!-- ///// End Header ///// -->
  <!-- /////// Hero Section /////// -->
  <section id="hero" class="hero">
    <div class="hero-container">
      <h1>Eric Paoli</h1>
      <h2>Developpeur de vos besoins </h2>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section><!-- ///// End Hero ///// -->

  <main id="main">

    <!-- /////// About Me Section /////// -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <span>About Me</span>
          <h2> Qui suis-je ?</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content ps-lg-4 d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Nom:</strong> <span>Eric PAOLI</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Téléphone</strong> <span>07.68.05.47.07</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Ville:</strong> <span>Sorgues, France</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>35</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Diplôme:</strong> <span>Bachelor/Master 1</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>ericpaoli.pro@gmail.com</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span></li>
                  </ul>
                </div>
              </div>
              <div class="row mt-n4">
                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile" style="color: #20b38e;"></i>
                    <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Clients satisfaits</strong> </br> Par la qualité, les performances et la maintenabilité des applications</p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext" style="color: #8a1ac2;"></i>
                    <span data-purecounter-start="0" data-purecounter-end="61" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Projets réalisés</strong> </br> Du site vitrine à l'application mobile en passant par la création de site e-commerce, mini CMS permettant sa personnalisation sans toucher au code, outils et dashboard de gestion de magasin ... tout est possible </p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock" style="color: #2cbdee;"></i>
                    <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Ans d'expériences</strong> </br> Développeur freelance avec une stack MERN, PHP, Symfony, JAVA.</p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award" style="color: #ffb459;"></i>
                    <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Certifications obtenues</strong> </br>
                      <ul>
                        <li>RNCP niveau 6 : chef de projet de développement d'applications web et mobiles</li>
                        <li>La programmation avec JAVA</li>
                        <li>Programmer avec JavaScript</li>
                        <li>Programmer avec JQuery</li>
                        <li>Concevoir votre site web avec PHP et MySQL</li>
                        <li>...</li>
                      </ul>
                  </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /////// End .content /////// -->

            <div class="skills-content ps-lg-4">
              <div class="progress">
                <span class="skill">HTML <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" aria-label="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">CSS <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" aria-label="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">PHP <i class="val">50%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" aria-label="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">SYMFONY <i class="val">50%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" aria-label="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">REACT / REACT NATIVE <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" aria-label="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">JavaScript <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" aria-label="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- ///// End About Me Section ///// -->

    <!-- /////// My Resume Section /////// -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <span>MON CV</span>
          <h2>MON CV</h2>
          <p>Développeur d'applications web et mobiles à votre image</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Eric Paoli</h4>
              <p>
                <em> Développeur innovant et créatif avec 2 ans d'expériences comme développeur, le respect des délais et la qualité du produit sont mes priorités absolues !
                  vous pouvez compter sur moi pour vous proposer les solutions les plus adaptées à vos besoins et contraintes.
                </em>
              </p>
            </div>

            <h3 class="resume-title">Formation</h3>
            <div class="resume-item">
              <h4>Titre de chef de projet de développement d'applications web et mobiles </h4>
              <h5>2020</h5>
              <p><em>La Capsule, Marseille</em></p>
              <ul>
                <li>Javascript</li>
                <li>React / React Native</li>
                <li>MongoDB</li>
                <li>Express</li>
                <li>NodeJs</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>BTS Management des unités commerciales</h4>
              <h5>2006-2008</h5>
              <p><em>Maestris, Marseille</em></p>
              <ul>
                <li>Management</li>
                <li>Marketing</li>
                <li>Gestion</li>
                <li>Comptabilité</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Expériences professionnelles</h3>
            <div class="resume-item">
              <h4>Développeur freelance</h4>
              <h5>2020 - actuellement</h5>
              <p><em>EP development, Sorgues </em></p>
              <p>
              <ul>
                <li>Sites e-commerces </li>
                <li>Sites vitrines </li>
                <li>Création d'un système complet de gestion back office pour des commerçants</li>
                <li>Application web (SaaS) de géolocalisation de matériel industriel et de suivi d'autodiagnostique, demandes de maintenance automatisées</li>
                <li>...</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Management d'équipe/ Directeur de centres de profits</h4>
              <h5>2006 - 2020</h5>
              <p><em>Quick, Paul, KFC, Mcdonald's, Suhshi Shop</em></p>
              <p>
              <ul>
                <li>Management d'équipe de 40 a plus de 100 collaborateurs</li>
                <li>Gestion autonome de restaurants générants plus de 6.000.000 € de C.A. annuel</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- ///// End My Resume Section ///// -->

    <!-- /////// My Services Section /////// -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>MES SERVICES</span>
          <h2>MES SERVICES</h2>
          <p>Plus qu'un prestataire, un partenaire </p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-chess"></i></div>
              <h3 class="title"><a href="https://github.com/ericp84/ericp84.github.io/graphs/traffic">Adaptabilité</a></h3>
              <p class="description">Adaptation totale à vos besoins, je vous propose un cahier des charges en intégrant vos idées et envies, je vous propose les meilleurs options possibles afin de tirer
                profit au maximum de votre projet.  
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-run"></i></div>
              <h3 class="title"><a href="https://github.com/ericp84/ericp84.github.io/graphs/traffic">Agile</a></h3>
              <p class="description">Développement découpé en livrable, chaque semaine vous pouvez suivre l'avancée de votre produit dans un état partiel mais stable et fonctionnel </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h3 class="title"><a href="https://github.com/ericp84/ericp84.github.io/graphs/traffic">Performances</a></h3>
              <p class="description">Le référencement de votre site en dépend, les performances de ce dernier sont surveillées et challengées tout au long du développement.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-check-shield"></i></div>
              <h3 class="title"><a href="https://github.com/ericp84/ericp84.github.io/graphs/traffic">Sécurité et Maintenance</a></h3>
              <p class="description">Maintenance des sites / applications, mises à jour nécessaires à la protection des données</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- ///// End My Services Section ///// -->

    <!-- /////// Testimonials Section /////// -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../assets/img/testimonials/testimonial-1.webp" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- ///// End testimonial item ///// -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../assets/img/testimonials/testimonial-2.webp" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- ///// End testimonial item ///// -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../assets/img/testimonials/testimonial-3.webp" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- ///// End testimonial item ///// -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../assets/img/testimonials/testimonial-4.webp" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- ///// End testimonial item ///// -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../assets/img/testimonials/testimonial-5.webp" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- ///// End testimonial item ///// -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- ///// End Testimonials Section ///// -->

    <!-- /////// My Portfolio Section /////// -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Mon portfolio</span>
          <h2>Mon portfolio</h2>
          <p>Trouvez ici une sélection de mes créations</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-mobile">Mobile</li>
          <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="../assets/img/portfolio/portfolio-1.webp" class="img-fluid" id="prtf1" alt=""></div>
            <div class="portfolio-info">
              <h3>Mails</h3>
              <p>App</p>
              <a href="../assets/img/portfolio/portfolio-1.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img width="415" height="278" src="../assets/img/portfolio/portfolio-2.webp" class="img-fluid" id="prtf2" alt=""></div>
            <div class="portfolio-info">
              <h3>Blackboard</h3>
              <p>Web</p>
              <a href="../assets/img/portfolio/portfolio-2.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="../assets/img/portfolio/portfolio-13.webp" class="img-fluid" id="prtf3" alt=""></div>
            <div class="portfolio-info">
              <h3>Weather</h3>
              <p>App</p>
              <a href="../assets/img/portfolio/portfolio-3.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="../assets/img/portfolio/portfolio-4.webp" class="img-fluid" id="prtf4" alt=""></div>
            <div class="portfolio-info">
              <h3>Bikeshop</h3>
              <p>Card</p>
              <a href="../assets/img/portfolio/portfolio-4.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-mobile">
            <div class="portfolio-img"><img src="../assets/img/portfolio/portfolio-5.webp" class="img-fluid" id="prtf5" alt=""></div>
            <div class="portfolio-info">
              <h3>Faceup</h3>
              <p>Web</p>
              <a href="../assets/img/portfolio/portfolio-5.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="../assets/img/portfolio/portfolio-10.webp" class="img-fluid" id="prtf6" alt=""></div>
            <div class="portfolio-info">
              <h3>MyMovies</h3>
              <p>App</p>
              <a href="../assets/img/portfolio/portfolio-6.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-mobile">
            <div class="portfolio-img"><img src="../assets/img/portfolio/portfolio-7.webp" class="img-fluid" id="prtf7" alt=""></div>
            <div class="portfolio-info">
              <h3>Geotrash</h3>
              <p>Card</p>
              <a href="../assets/img/portfolio/portfolio-7.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-mobile">
            <div class="portfolio-img"><img src="../assets/img/portfolio/portfolio-8.webp" class="img-fluid" id="prtf8" alt=""></div>
            <div class="portfolio-info">
              <h3>Locapic</h3>
              <p>Card</p>
              <a href="../assets/img/portfolio/portfolio-8.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="../assets/img/portfolio/portfolio-9.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h3>Morningnews</h3>
              <p>Web</p>
              <a href="../assets/img/portfolio/portfolio-9.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" id="prtf9" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- //// End My Portfolio Section //// -->
    <!-- /////// Contact Me Section /////// -->
    <section id="contact" class="contact">
      <div class="container" style="display: flex; flex-direction: column; align-items: center;">
        <div class="section-title">
          <span>contact</span>
          <h2>Me contacter</h2>
          <p>Pour me contacter n'hésitez pas à utiliser ce formulaire </p>
        </div>

        <div class="row" style="display: flex; justify-content: center;">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-share-alt"></i>
                  <h3>Social Profiles</h3>
                  <div class="social-links">
                    <a href="#" class="twitter">twitter<i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook">facebook<i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram">instagram<i class="bi bi-instagram"></i></a>
                    <a href="#" class="google-plus">g+<i class="bi bi-skype"></i></a>
                    <a href="#" class="linkedin">linkedin<i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>

          <div class="col-lg-6">
            <form id="contactForm" action="/contact" method="post">
              <!-- Name input-->
              <div class="form-floating mb-3">
                  <input class="form-control" id="name" type="text" placeholder="Enter your name..." required name="name"/>
                  <label for="name">Nom et Prénom</label>
                  <div class="invalid-feedback" data-sb-feedback="name:required">Merci d'indiquer vos nom et prénom</div>
              </div>
              <!-- Email address input-->
              <div class="form-floating mb-3">
                  <input class="form-control" id="email" type="email" placeholder="name@example.com" required name="email"/>
                  <label for="email">Adresse mail de contact</label>
                  <div class="invalid-feedback" data-sb-feedback="email:required">Une adresse mail est nécessaire.</div>
                  <div class="invalid-feedback" data-sb-feedback="email:email">Email invalide.</div>
              </div>
              <!-- Phone number input-->
              <div class="form-floating mb-3">
                  <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" required name="phone"/>
                  <label for="phone">Numéro de téléphone</label>
                  <div class="invalid-feedback" data-sb-feedback="phone:required">Un numéro de téléphone est nécessaire.</div>
              </div>
              <div class="form-floating mb-3">
                  <input class="form-control" id="subject" type="text" placeholder="subject" required name="subject"/>
                  <label for="subject">sujet de votre demande</label>
                  <div class="invalid-feedback" data-sb-feedback="phone:required">Un numéro de téléphone est nécessaire.</div>
              </div>
              <!-- Message input-->
              <div class="form-floating mb-3">
                  <textarea name="message" class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                  <label for="message">Un petit message ?</label>
                  <div class="invalid-feedback" data-sb-feedback="message:required">Merci de m'indiquer ce que je peux faire pour vous :).</div>
              </div>
              <!-- Submit success message-->
              <div class="d-none" id="submitSuccessMessage">
                  <div class="text-center mb-3">
                  </div>
              </div>
              <!-- Submit error message-->
              <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur d'envoi du message!</div></div>
              <!-- Submit Button-->
              <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Envoi</button>
          </form>
          </div>

        </div>

      </div>
    </section><!-- ///// End Contact Me Section ///// -->

  </main><!-- ///// End #main ///// -->

  <!-- /////// Footer /////// -->
  <footer id="footer">
    <div class="container">
      <h3>Eric Paoli</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links">
        <a href="#" class="twitter">twitter<i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook">facebook<i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram">instagram<i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus">g+<i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin">linkedin<i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Eric</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- ///// End Footer ///// -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- ///// Vendor JS Files ///// -->
  <script src="../assets/vendor/purecounter/purecounter.js" ></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js" ></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js" ></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js" ></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js" ></script>
  <script src="../assets/vendor/php-email-form/validate.js" ></script>

  <!-- ///// Template Main JS File ///// -->
  <script src="../assets/js/main.js" ></script>

</body>

</html>
